@titleHeight:60px;
:global{
    .ant-modal-content{
        background-color: #102952 !important;
        color: white !important;
    }
    .ant-modal-header{
        background-color: #102952 !important;
        color: white !important;
    }
    .ant-modal-title{
        color: white !important;
    }
    .ant-modal-close-x{
        color: white !important;
    }
    .indexRowText{
        display: flex;
        width: 100%;
    }
    .indexRowTextLeft{
        width: 15%;
        display: flex;
        justify-content: flex-end;
        margin-right: 10px;
    }
    .indexRowTextRight{
        width: 60%;
    }
    .indexRowTextRightImg{
        display: flex;
    }
    .indexRowTextRightImgItem{
        height: 50%;
    }
    .indexRowTextRightImgItemMargin{
        margin-right: 20px;
    }
}
.boxDashbord {
    width: 100%;
    background: linear-gradient(rgb(20, 20, 20) 14%, rgb(0, 46, 107) 100%);
    color: white;

    
    .title{
        font-size: 30px;
        font-weight: 800;
    }

    .topText{
        width: 100%;
        height: @titleHeight;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
    }
    .container{
        display: flex;
        height: calc(97vh - @titleHeight );
    }
    .left {
        width: 70%;
        height: 100%;
        padding: 0px 10px;

        .top {
            height: 60%;
            display: flex;

            .topLeft{
                width: 40%;
                font-size: 12px;
                background: #172239;

                

                .content{
                    padding: 10px 15px;
                    line-height: 45px;
                    height: 50%;
                }

                .listicon{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content:flex-start;
                    width: 100%;
                    height: 40%;

                    .icon{
                        width:33%; /* 每个div元素占据容器的50%宽度 */
                        height: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .iconleft{
                            height:100%;
                            display: flex;
                            align-items: center;

                            .innerBox{
                                width: 40px;
                                height: 40px;
                                border-radius: 50%;
                                background: #26468F;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                margin-right: 10px;
                            }

                        }

                        .iconright{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                        }
                    }
                }
            }

            .topRight{
                width: 60%;

                .map{
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .bottom {
            height: 40%;
            width: 100%;

            .row{
                width: 100%;
                height: 40px;
                background-color: #0D3A75;
                display: flex;
                .t{
                    width: 19%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                }
                .tred{
                    color: #864075;
                }
                .tblub{
                    color: #0D4BCB;
                    cursor: pointer;
                }
            }

            .header{
                background-color: #021E43;
            }
            
        }
    }

    .right {
        width: 30%;
        height: 100%;
        padding: 0px 10px;
        
        .zd{
            width: 100%;
            height: 45%;
            display: flex;

            .item{
                width: 33%;
                height: 100%;
                font-size: 16px;

                .zdText{
                    height: 13%;
                    font-size: 22px;
                    width: 100%;
                }

                .zdRed{
                    color: #D04143;
                    line-height: 20px;
                    font-size: 20px;
                }
                .zdBlue{
                    color: #2669F5;
                    line-height: 15px;
                    font-size: 16px;
                }

                .tr{
                    width: 100%;
                    height: 100%;
                }
            }
            .leftAl{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
            }
            .rightAl{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
            }
        }

        .list{
            width: 100%;
            height: 48%;
            overflow: hidden;

            .box{
                background-color: #1F3859;
                border-radius: 10px;
                margin: 15px;

                .time{
                    padding: 10px 10px;
                }

                .desc{
                    padding: 10px 10px;
                }
            }
        }
    }
}